   <footer>
    <hr>
            
        CST336: Internet Programming Lab 4. 2020&copy; Randolph <br>
        Disclaimer: The information on this page might be inaccurate. 
            
    </footer>
    
    </body>
    
</html>