<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
      <br>  
   <div class = "topBar">
    <a href = "/">Home</a>&emsp;
    <a href = "/mercury">Mercury</a>&emsp;
    <a href = "/venus">Venus</a> &emsp;
    <a href = "/earth">Earth</a>&emsp;
    <a href = "/mars">Mars</a>
    </div>