<%- include('partials/header.ejs') %>
        
        <h1> Welcome to Venus!</h1>
    
   <p> Venus is the second planet from the Sun. Venus orbits the Sun every 224.7 Earth days. 
   It is named after the Roman goddess of love and beauty. As the second-brightest natural object in Earth's night 
   sky after the Moon, Venus can cast shadows and can be, on rare occasion, visible to the naked eye in broad daylight. 
   Venus does not have any moons, a distinction it shares only with Mercury among the planets in the Solar System. <a href = "https://en.wikipedia.org/wiki/Venus">Source</a></p>
   
   <br>
    <img src="/img/venus.jpg"  alt= "Venus" />
    
   <%- include('partials/footer.ejs') %>